In [1]:
# Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
diabetic_data = pd.read_csv("diabetic_data.csv")
diabetic_data.head(15)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),?,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),?,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
10,28236,89869032,AfricanAmerican,Female,[40-50),?,1,1,7,9,...,No,Steady,No,No,No,No,No,No,Yes,>30
11,36900,77391171,AfricanAmerican,Male,[60-70),?,2,1,4,7,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
12,40926,85504905,Caucasian,Female,[40-50),?,1,3,7,7,...,No,Down,No,No,No,No,No,Ch,Yes,<30
13,42570,77586282,Caucasian,Male,[80-90),?,1,6,7,10,...,No,Steady,No,No,No,No,No,No,Yes,NO
14,62256,49726791,AfricanAmerican,Female,[60-70),?,3,1,2,1,...,No,Steady,No,No,No,No,No,No,Yes,>30

### Melt

In [8]:
melt_df = diabetic_data.melt(id_vars = ['age'], value_vars = ['time_in_hospital'])
melt_df.head(15)

         age          variable  value
0     [0-10)  time_in_hospital      1
1    [10-20)  time_in_hospital      3
2    [20-30)  time_in_hospital      2
3    [30-40)  time_in_hospital      2
4    [40-50)  time_in_hospital      1
5    [50-60)  time_in_hospital      3
6    [60-70)  time_in_hospital      4
7    [70-80)  time_in_hospital      5
8    [80-90)  time_in_hospital     13
9   [90-100)  time_in_hospital     12
10   [40-50)  time_in_hospital      9
11   [60-70)  time_in_hospital      7
12   [40-50)  time_in_hospital      7
13   [80-90)  time_in_hospital     10
14   [60-70)  time_in_hospital      1

### Pivot

In [16]:
pivot_df = diabetic_data.pivot(index = 'encounter_id', columns = 'gender', values = 'time_in_hospital')
pivot_df.head(15)

gender        Female  Male  Unknown/Invalid
encounter_id
12522           13.0   NaN              NaN
15738           12.0   NaN              NaN
16680            NaN   1.0              NaN
28236            9.0   NaN              NaN
35754            NaN   3.0              NaN
36900            NaN   7.0              NaN
40926            7.0   NaN              NaN
42570            NaN  10.0              NaN
55842            NaN   4.0              NaN
62256            1.0   NaN              NaN
63768            NaN   5.0              NaN
64410            2.0   NaN              NaN
73578            NaN  12.0              NaN
77076            NaN   4.0              NaN
84222            3.0   NaN              NaN

### Aggregation

In [18]:
aggregation_df = diabetic_data.aggregate({'time_in_hospital' : ['min', 'max']})
aggregation_df.head(15)

     time_in_hospital
min                 1
max                14

### Iteration

In [22]:
diabetic_data_short = diabetic_data[:10]
for row_index,row in diabetic_data_short.iterrows():
   print(row_index,row)

0 encounter_id                                 2278392
patient_nbr                                  8222157
race                                       Caucasian
gender                                        Female
age                                           [0-10)
weight                                             ?
admission_type_id                                  6
discharge_disposition_id                          25
admission_source_id                                1
time_in_hospital                                   1
payer_code                                         ?
medical_specialty           Pediatrics-Endocrinology
num_lab_procedures                                41
num_procedures                                     0
num_medications                                    1
number_outpatient                                  0
number_emergency                                   0
number_inpatient                                   0
diag_1                                        250.83
diag_2                                             ?
diag_3                                             ?
number_diagnoses                                   1
max_glu_serum                                    NaN
A1Cresult                                        NaN
metformin                                         No
repaglinide                                       No
nateglinide                                       No
chlorpropamide                                    No
glimepiride                                       No
acetohexamide                                     No
glipizide                                         No
glyburide                                         No
tolbutamide                                       No
pioglitazone                                      No
rosiglitazone                                     No
acarbose                                          No
miglitol                                          No
troglitazone                                      No
tolazamide                                        No
examide                                           No
citoglipton                                       No
insulin                                           No
glyburide-metformin                               No
glipizide-metformin                               No
glimepiride-pioglitazone                          No
metformin-rosiglitazone                           No
metformin-pioglitazone                            No
change                                            No
diabetesMed                                       No
readmitted                                        NO
Name: 0, dtype: object
1 encounter_id                   149190
patient_nbr                  55629189
race                        Caucasian
gender                         Female
age                           [10-20)
weight                              ?
admission_type_id                   1
discharge_disposition_id            1
admission_source_id                 7
time_in_hospital                    3
payer_code                          ?
medical_specialty                   ?
num_lab_procedures                 59
num_procedures                      0
num_medications                    18
number_outpatient                   0
number_emergency                    0
number_inpatient                    0
diag_1                            276
diag_2                         250.01
diag_3                            255
number_diagnoses                    9
max_glu_serum                     NaN
A1Cresult                         NaN
metformin                          No
repaglinide                        No
nateglinide                        No
chlorpropamide                     No
glimepiride                        No
acetohexamide                      No
glipizide                          No
glyburide                          No
tolbutamide                        No
pioglitazone                       No
rosiglitazone                      No
acarbose                           No
miglitol                           No
troglitazone                       No
tolazamide                         No
examide                            No
citoglipton                        No
insulin                            Up
glyburide-metformin                No
glipizide-metformin                No
glimepiride-pioglitazone           No
metformin-rosiglitazone            No
metformin-pioglitazone             No
change                             Ch
diabetesMed                       Yes
readmitted                        >30
Name: 1, dtype: object
2 encounter_id                          64410
patient_nbr                        86047875
race                        AfricanAmerican
gender                               Female
age                                 [20-30)
weight                                    ?
admission_type_id                         1
discharge_disposition_id                  1
admission_source_id                       7
time_in_hospital                          2
payer_code                                ?
medical_specialty                         ?
num_lab_procedures                       11
num_procedures                            5
num_medications                          13
number_outpatient                         2
number_emergency                          0
number_inpatient                          1
diag_1                                  648
diag_2                                  250
diag_3                                  V27
number_diagnoses                          6
max_glu_serum                           NaN
A1Cresult                               NaN
metformin                                No
repaglinide                              No
nateglinide                              No
chlorpropamide                           No
glimepiride                              No
acetohexamide                            No
glipizide                            Steady
glyburide                                No
tolbutamide                              No
pioglitazone                             No
rosiglitazone                            No
acarbose                                 No
miglitol                                 No
troglitazone                             No
tolazamide                               No
examide                                  No
citoglipton                              No
insulin                                  No
glyburide-metformin                      No
glipizide-metformin                      No
glimepiride-pioglitazone                 No
metformin-rosiglitazone                  No
metformin-pioglitazone                   No
change                                   No
diabetesMed                             Yes
readmitted                               NO
Name: 2, dtype: object
3 encounter_id                   500364
patient_nbr                  82442376
race                        Caucasian
gender                           Male
age                           [30-40)
weight                              ?
admission_type_id                   1
discharge_disposition_id            1
admission_source_id                 7
time_in_hospital                    2
payer_code                          ?
medical_specialty                   ?
num_lab_procedures                 44
num_procedures                      1
num_medications                    16
number_outpatient                   0
number_emergency                    0
number_inpatient                    0
diag_1                              8
diag_2                         250.43
diag_3                            403
number_diagnoses                    7
max_glu_serum                     NaN
A1Cresult                         NaN
metformin                          No
repaglinide                        No
nateglinide                        No
chlorpropamide                     No
glimepiride                        No
acetohexamide                      No
glipizide                          No
glyburide                          No
tolbutamide                        No
pioglitazone                       No
rosiglitazone                      No
acarbose                           No
miglitol                           No
troglitazone                       No
tolazamide                         No
examide                            No
citoglipton                        No
insulin                            Up
glyburide-metformin                No
glipizide-metformin                No
glimepiride-pioglitazone           No
metformin-rosiglitazone            No
metformin-pioglitazone             No
change                             Ch
diabetesMed                       Yes
readmitted                         NO
Name: 3, dtype: object
4 encounter_id                    16680
patient_nbr                  42519267
race                        Caucasian
gender                           Male
age                           [40-50)
weight                              ?
admission_type_id                   1
discharge_disposition_id            1
admission_source_id                 7
time_in_hospital                    1
payer_code                          ?
medical_specialty                   ?
num_lab_procedures                 51
num_procedures                      0
num_medications                     8
number_outpatient                   0
number_emergency                    0
number_inpatient                    0
diag_1                            197
diag_2                            157
diag_3                            250
number_diagnoses                    5
max_glu_serum                     NaN
A1Cresult                         NaN
metformin                          No
repaglinide                        No
nateglinide                        No
chlorpropamide                     No
glimepiride                        No
acetohexamide                      No
glipizide                      Steady
glyburide                          No
tolbutamide                        No
pioglitazone                       No
rosiglitazone                      No
acarbose                           No
miglitol                           No
troglitazone                       No
tolazamide                         No
examide                            No
citoglipton                        No
insulin                        Steady
glyburide-metformin                No
glipizide-metformin                No
glimepiride-pioglitazone           No
metformin-rosiglitazone            No
metformin-pioglitazone             No
change                             Ch
diabetesMed                       Yes
readmitted                         NO
Name: 4, dtype: object
5 encounter_id                    35754
patient_nbr                  82637451
race                        Caucasian
gender                           Male
age                           [50-60)
weight                              ?
admission_type_id                   2
discharge_disposition_id            1
admission_source_id                 2
time_in_hospital                    3
payer_code                          ?
medical_specialty                   ?
num_lab_procedures                 31
num_procedures                      6
num_medications                    16
number_outpatient                   0
number_emergency                    0
number_inpatient                    0
diag_1                            414
diag_2                            411
diag_3                            250
number_diagnoses                    9
max_glu_serum                     NaN
A1Cresult                         NaN
metformin                          No
repaglinide                        No
nateglinide                        No
chlorpropamide                     No
glimepiride                        No
acetohexamide                      No
glipizide                          No
glyburide                          No
tolbutamide                        No
pioglitazone                       No
rosiglitazone                      No
acarbose                           No
miglitol                           No
troglitazone                       No
tolazamide                         No
examide                            No
citoglipton                        No
insulin                        Steady
glyburide-metformin                No
glipizide-metformin                No
glimepiride-pioglitazone           No
metformin-rosiglitazone            No
metformin-pioglitazone             No
change                             No
diabetesMed                       Yes
readmitted                        >30
Name: 5, dtype: object
6 encounter_id                    55842
patient_nbr                  84259809
race                        Caucasian
gender                           Male
age                           [60-70)
weight                              ?
admission_type_id                   3
discharge_disposition_id            1
admission_source_id                 2
time_in_hospital                    4
payer_code                          ?
medical_specialty                   ?
num_lab_procedures                 70
num_procedures                      1
num_medications                    21
number_outpatient                   0
number_emergency                    0
number_inpatient                    0
diag_1                            414
diag_2                            411
diag_3                            V45
number_diagnoses                    7
max_glu_serum                     NaN
A1Cresult                         NaN
metformin                      Steady
repaglinide                        No
nateglinide                        No
chlorpropamide                     No
glimepiride                    Steady
acetohexamide                      No
glipizide                          No
glyburide                          No
tolbutamide                        No
pioglitazone                       No
rosiglitazone                      No
acarbose                           No
miglitol                           No
troglitazone                       No
tolazamide                         No
examide                            No
citoglipton                        No
insulin                        Steady
glyburide-metformin                No
glipizide-metformin                No
glimepiride-pioglitazone           No
metformin-rosiglitazone            No
metformin-pioglitazone             No
change                             Ch
diabetesMed                       Yes
readmitted                         NO
Name: 6, dtype: object
7 encounter_id                    63768
patient_nbr                 114882984
race                        Caucasian
gender                           Male
age                           [70-80)
weight                              ?
admission_type_id                   1
discharge_disposition_id            1
admission_source_id                 7
time_in_hospital                    5
payer_code                          ?
medical_specialty                   ?
num_lab_procedures                 73
num_procedures                      0
num_medications                    12
number_outpatient                   0
number_emergency                    0
number_inpatient                    0
diag_1                            428
diag_2                            492
diag_3                            250
number_diagnoses                    8
max_glu_serum                     NaN
A1Cresult                         NaN
metformin                          No
repaglinide                        No
nateglinide                        No
chlorpropamide                     No
glimepiride                        No
acetohexamide                      No
glipizide                          No
glyburide                      Steady
tolbutamide                        No
pioglitazone                       No
rosiglitazone                      No
acarbose                           No
miglitol                           No
troglitazone                       No
tolazamide                         No
examide                            No
citoglipton                        No
insulin                            No
glyburide-metformin                No
glipizide-metformin                No
glimepiride-pioglitazone           No
metformin-rosiglitazone            No
metformin-pioglitazone             No
change                             No
diabetesMed                       Yes
readmitted                        >30
Name: 7, dtype: object
8 encounter_id                    12522
patient_nbr                  48330783
race                        Caucasian
gender                         Female
age                           [80-90)
weight                              ?
admission_type_id                   2
discharge_disposition_id            1
admission_source_id                 4
time_in_hospital                   13
payer_code                          ?
medical_specialty                   ?
num_lab_procedures                 68
num_procedures                      2
num_medications                    28
number_outpatient                   0
number_emergency                    0
number_inpatient                    0
diag_1                            398
diag_2                            427
diag_3                             38
number_diagnoses                    8
max_glu_serum                     NaN
A1Cresult                         NaN
metformin                          No
repaglinide                        No
nateglinide                        No
chlorpropamide                     No
glimepiride                        No
acetohexamide                      No
glipizide                      Steady
glyburide                          No
tolbutamide                        No
pioglitazone                       No
rosiglitazone                      No
acarbose                           No
miglitol                           No
troglitazone                       No
tolazamide                         No
examide                            No
citoglipton                        No
insulin                        Steady
glyburide-metformin                No
glipizide-metformin                No
glimepiride-pioglitazone           No
metformin-rosiglitazone            No
metformin-pioglitazone             No
change                             Ch
diabetesMed                       Yes
readmitted                         NO
Name: 8, dtype: object
9 encounter_id                           15738
patient_nbr                         63555939
race                               Caucasian
gender                                Female
age                                 [90-100)
weight                                     ?
admission_type_id                          3
discharge_disposition_id                   3
admission_source_id                        4
time_in_hospital                          12
payer_code                                 ?
medical_specialty           InternalMedicine
num_lab_procedures                        33
num_procedures                             3
num_medications                           18
number_outpatient                          0
number_emergency                           0
number_inpatient                           0
diag_1                                   434
diag_2                                   198
diag_3                                   486
number_diagnoses                           8
max_glu_serum                            NaN
A1Cresult                                NaN
metformin                                 No
repaglinide                               No
nateglinide                               No
chlorpropamide                            No
glimepiride                               No
acetohexamide                             No
glipizide                                 No
glyburide                                 No
tolbutamide                               No
pioglitazone                              No
rosiglitazone                         Steady
acarbose                                  No

### Groupby

In [26]:
groupby_df = diabetic_data.groupby('gender')['time_in_hospital'].mean()
groupby_df.head()

gender
Female             4.478797
Male               4.299777
Unknown/Invalid    3.333333
Name: time_in_hospital, dtype: float64