In [3]:
# Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### Question 1
Compute the euclidean distance between series (points) p and q, without using a packaged formula.

In [4]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [5]:
p = p.to_numpy()
q = q.to_numpy()

diff = p - q

diff_squared = diff ** 2

sos = np.sum(diff_squared)

euclidean_distance = np.sqrt(sos)

print("Euclidian Distance: ", euclidean_distance)

Euclidian Distance:  18.16590212458495

### Question 2
Change the order of columns of a dataframe. Interchange columns 'a' and 'c'

In [7]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df.head(5)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [8]:
colnames = df.columns.tolist()
colnames[0], colnames[2] = colnames[2], colnames[0]
df = df[colnames]

df.head(5)

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

### Question 3
Change the order of columns of a dataframe. Create a generic function to interchange two columns, without
hardcoding column names.

In [12]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df.head(5)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [16]:
def reorder(dataframe, col1_name, col2_name):
    colnames = dataframe.columns.tolist()
    idx1 = colnames.index(col1_name)
    idx2 = colnames.index(col2_name)
    colnames[idx1], colnames[idx2] = colnames[idx2], colnames[idx1]
    return dataframe[colnames]
    
df = reorder(df, 'a', 'c')
df.head(5)

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

### Question 4
Format or suppress scientific notations in a pandas dataframe. Suppress scientific notations like ‘e-03’ in df and
print upto 4 numbers after decimal.

In [18]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df.head(5)

     random
0  0.000008
1  0.020293
2  0.054502
3  0.299305

### Question 5
Create a new column that contains the row number of nearest column by euclidean distance. Create a new column
such that, each row contains the row number of nearest row-record by euclidean distance.

In [19]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1),
columns=list('pqrs'), index=list('abcdefghij'))
df.head(5)

    p   q   r   s
a  58  89  87  62
b  48   7  10  12
c  40  22   1   7
d  29  78  52  32
e   4  49  89  64

In [21]:
def find_nearest_neighbor(current_row, df):
    diff = df - current_row
    sq_dist_sum = (diff ** 2).sum(axis=1)
    dist = np.sqrt(sq_dist_sum)
    current_idx = current_row.name
    dist.loc[current_idx] = np.inf
    min_distance = dist.min()
    nearest_row_label = dist.idxmin()
    return pd.Series([nearest_row_label, min_distance], index=['nearest_row', 'dist'])

df[['nearest_row', 'dist']] = df.apply(lambda row: find_nearest_neighbor(row, df), axis=1)
df.head(10)

    p   q   r   s nearest_row       dist
a  58  89  87  62           d  55.560778
b  48   7  10  12           c  19.874607
c  40  22   1   7           b  19.874607
d  29  78  52  32           a  55.560778
e   4  49  89  64           g  56.559703
f  65  33  36  65           h  41.833001
g  17  87  64  95           e  56.559703
h  59  58   3  65           f  41.833001
i  99  74  48  63           f  54.635154
j   4  17   4  29           c  42.591079

### Question 6
Correlation is a statistical technique that shows how two variables are related. Pandas dataframe.corr() method is
used for creating the correlation matrix. It is used to find the pairwise correlation of all columns in the dataframe.
Any na values are automatically excluded. For any non-numeric data type columns in the dataframe it is ignored.

In [25]:
data = {'A': [45, 37, 0, 42, 50],
'B': [38, 31, 1, 26, 90],
'C': [10, 15, -10, 17, 100],
'D': [60, 99, 15, 23, 56],
'E': [76, 98, -0.03, 78, 90]
}

data = pd.DataFrame(data)
data.corr()

          A         B         C         D         E
A  1.000000  0.756038  0.624390  0.493811  0.928600
B  0.756038  1.000000  0.966733  0.363559  0.649558
C  0.624390  0.966733  1.000000  0.218860  0.528068
D  0.493811  0.363559  0.218860  1.000000  0.720177
E  0.928600  0.649558  0.528068  0.720177  1.000000