In [9]:
# Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [10]:
# Importing Data
flights_data = pd.read_csv('flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()

### Pandas Data Filtering/Sorting Question Answering
Use flights_data

In [16]:
flights_data.head()

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

Question 1: How many flights were there from JFK to SLC? Int q_1

In [21]:
filtered = flights_data[(flights_data['origin'] == 'JFK') & (flights_data['dest'] == 'SLC')]
q_1 = len(filtered)
print("q_1 = ", q_1, type(q_1))

q_1 =  2113 <class 'int'>

Question 2: How many airlines fly to SLC? Should be int q_2

In [22]:
filtered = flights_data[flights_data['dest'] == 'SLC']
q_2 = filtered['carrier'].nunique()
print("q_2 = ", q_2, type(q_2))

q_2 =  2 <class 'int'>

Question 3: What is the average arrival delay for flights to RDU? float q_3

In [23]:
filtered = flights_data[flights_data['dest'] == 'RDU']
q_3 = filtered['arr_delay'].mean()
print("q_3 = ", q_3, type(q_3))

q_3 =  10.052380952380952 <class 'numpy.float64'>

Question 4: What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float q_4

In [25]:
filtered = flights_data[(flights_data['origin'].isin(['LGA', 'JFK'])) & (flights_data['dest'] == 'SEA')]
filtered_total = flights_data['dest'] == 'SEA'

q_4 = (len(filtered))/(len(filtered_total))
print("q_4 = ", q_4, type(q_4))

q_4 =  0.006211844074399601 <class 'float'>

Question 5:  Which date has the largest average depature delay? Pd slice with date and float please make date a column. Preferred format is 2013/1/1 (y/m/d) q_5

In [26]:
flights_data['Date'] = pd.to_datetime(flights_data[['year', 'month', 'day']])
flights_data['Date'] = flights_data['Date'].dt.strftime('%Y/%m/%d')
q_5 = flights_data.groupby('Date')['dep_delay'].mean().idxmax()
print("q_5 = ", q_5, type(q_5))

q_5 =  2013/03/08 <class 'str'>

Question 6: Which date has the largest average arrival delay? pd slice with date and float q_6

In [29]:
q_6 = flights_data.groupby('Date')['arr_delay'].mean().idxmax()
print("q_6 = ", q_6, type(q_6))

q_6 =  2013/03/08 <class 'str'>

Question 7: Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed (speed = distance/airtime) q_7

In [37]:
flights_data["speed"] = flights_data["distance"]/flights_data["air_time"]
filtered = flights_data[flights_data['origin'].isin(['LGA', 'JFK'])]
q_7 = filtered.loc[filtered['speed'].idxmax(), 'flight']
print("q_7 = ", q_7, type(q_7))

q_7 =  1499 <class 'numpy.int64'>

Question 8: Replace all nans in the weather pd dataframe with 0s. Pd with no nans q_8

In [38]:
q_8 = weather_data_pd.fillna(0)
print("q_8 = ", q_8.head(10), type(q_8))

q_8 =     Unnamed: 0 origin  year  month  day  hour   temp   dewp  humid  wind_dir  \
0           1    EWR  2013    1.0  1.0   0.0  37.04  21.92  53.97     230.0
1           2    EWR  2013    1.0  1.0   1.0  37.04  21.92  53.97     230.0
2           3    EWR  2013    1.0  1.0   2.0  37.94  21.92  52.09     230.0
3           4    EWR  2013    1.0  1.0   3.0  37.94  23.00  54.51     230.0
4           5    EWR  2013    1.0  1.0   4.0  37.94  24.08  57.04     240.0
5           6    EWR  2013    1.0  1.0   6.0  39.02  26.06  59.37     270.0
6           7    EWR  2013    1.0  1.0   7.0  39.02  26.96  61.63     250.0
7           8    EWR  2013    1.0  1.0   8.0  39.02  28.04  64.43     240.0
8           9    EWR  2013    1.0  1.0   9.0  39.92  28.04  62.21     250.0
9          10    EWR  2013    1.0  1.0  10.0  39.02  28.04  64.43     260.0

   wind_speed  wind_gust  precip  pressure  visib
0    10.35702  11.918651     0.0    1013.9   10.0
1    13.80936  15.891535     0.0    1013.0   10.0
2    12.65858  14.567241     0.0    1012.6   10.0
3    13.80936  15.891535     0.0    1012.7   10.0
4    14.96014  17.215830     0.0    1012.8   10.0
5    10.35702  11.918651     0.0    1012.0   10.0
6     8.05546   9.270062     0.0    1012.3   10.0
7    11.50780  13.242946     0.0    1012.5   10.0
8    12.65858  14.567241     0.0    1012.2   10.0
9    12.65858  14.567241     0.0    1011.9   10.0   <class 'pandas.core.frame.DataFrame'>

### Numpy Data Filtering/Sorting Question Answering
Use weather_data_np

In [40]:
weather_data_np

array([[1, 'EWR', 2013, ..., 0.0, 1013.9, 10.0],
       [2, 'EWR', 2013, ..., 0.0, 1013.0, 10.0],
       [3, 'EWR', 2013, ..., 0.0, 1012.6, 10.0],
       ...,
       [8717, 'JFK', 2013, ..., 0.0, 1008.5, 10.0],
       [8718, 'JFK', 2013, ..., 0.0, 1023.9, 10.0],
       [8719, 'LGA', 2013, ..., 0.0, 1011.9, 10.0]], dtype=object)

Question 9: How many observations were made in Feburary? Int q_9

In [42]:
q_9 = np.sum(weather_data_np[:,4] == 2.0)
print("q_9 = ", q_9, type(q_9))

q_9 =  288 <class 'numpy.int32'>

Question 10: What was the mean for humidity in February? Float q_10

In [43]:
feb = weather_data_np[weather_data_np[:,4] == 2.0, 8]
q_10 = np.mean(feb)
print("q_10 = ", q_10, type(q_10))

q_10 =  60.662256944444444 <class 'numpy.float64'>

Question 11: What was the std for humidity in February? Float q_11

In [44]:
q_11 = np.std(feb)
print("q_11 = ", q_11, type(q_11))

q_11 =  18.91972374645869 <class 'numpy.float64'>